[submodule "AppCore"]
	path = AppCore
	url = git@gitlab.com:sergiy.vynnychenko/AppCore.git
[submodule "AsyncNinja"]
	path = AsyncNinja
	url = git@github.com:serg-vinnie/AsyncNinja.git
[submodule "moreswiftui"]
	path = moreswiftui
	url = git@gitlab.com:UKS/moreswiftui.git
